.git-repos {
  .repo-list {
    list-style: none;
  }
  .git-repo {
    margin: 0.5em;
    padding: 1em;
    background-color: #fff;
  }
  h3 {
    margin: 0 0 0.25em 0;
  }
  .url-link {
    font-size: 0.75em;
    font-weight: 400;
    font-style: italic;
    color: #888;
  }
}
